@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-light: hsl(0, 0%, 42%);
    --Gray-dark: hsl(0, 0%, 7%);
}
body{
    margin:0;
    padding: 0;
    background: var(--Yellow);
    font: 14px "Figtree", sans-serif;
    line-height: 150%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--White);
    border: 1px solid var(--Gray-dark);
    width: 334px;
    border-radius: 20px;
    box-shadow: 8px 8px black;
    padding: 24px;
    display: grid;
    row-gap:24px;

}
.illustration{
    display: block;
    height: 200px;
    border-radius: 10px;
}
.textContent{
    display: grid;
    row-gap: 12px;
}
.learn{
    background-color: var(--Yellow);
    color: var(--Gray-dark);
    border-radius: 4px;
    padding: 4px 12px;
    margin:0;
    font-weight: 800;
    letter-spacing: 0px;
    width: fit-content;
}
.publishDate{
    margin: 0;
    color: var(--Gray-dark);
    font-weight: 500;
}
.title{
    margin: 0;
    text-decoration: none;
    color: var(--Gray-dark);
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
}
.title:hover{
    color: var(--Yellow);
}
.description{
    margin: 0;
    color: var(--Gray-light);
    font-size: 16px;

}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    color:var(--Gray-dark);
    font-weight: 800;
}
.author img{
    width: 32px;
    height: 32px;
}
.author p{
    margin:0;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

