@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-light: hsl(0, 0%, 42%);
    --Gray-dark: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background: var(--Yellow);
    font: 14px "Figtree", sans-serif;
    line-height: 150%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--White);
    border: 1px solid var(--Gray-dark);
    width: 334px;
    border-radius: 20px;
    box-shadow: 8px 8px black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap:24px;

}
.illustration{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.textContent{
    display: grid;
    row-gap: 12px;
}
.learn{
    background-color: var(--Yellow);
    color: var(--Gray-dark);
    border-radius: 4px;
    padding: 4px 12px;
    margin:0;
    font-weight: 800;
    font-size: 0.8rem;
    letter-spacing: 0px;
    width: fit-content;
}
.publishDate{
    margin: 0;
    color: var(--Gray-dark);
    font-weight: 500;
    font-size: 0.8rem;
}
.title{
    margin: 0;
    text-decoration: none;
    color: var(--Gray-dark);
    font-size: 1.35rem;
    font-weight: 800;
    cursor: pointer;
}
.title:hover{
    color: var(--Yellow);
}
.description{
    margin: 0;
    color: var(--Gray-light);
    font-size: 0.9rem;

}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    color:var(--Gray-dark);
    font-weight: 800;
    font-size: 0.75rem;
}
.author img{
    width: 30px;
    height: 30px;
}
.author p{
    margin:0;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px){
    .container{
        width: 300px;
        padding: 20px;
    }
    .learn{
        font-size: 0.7rem;
        padding: 2px 10px;
    }
    .publishDate{
        font-size: 0.7rem;
    }
    .title{
        font-size: 1.15rem;
    }
    .description{
        font-size: 0.8rem;
    }

}
