@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-light: hsl(0, 0%, 42%);
    --Gray-dark: hsl(0, 0%, 7%);
}
body{
    background: var(--Yellow);
    font-family: "Figtree", sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--White);
    border: 1px solid var(--Gray-dark);
    border-radius: 20px;
    width: 330px;
    box-shadow:  7px 7px var(--Gray-dark);
    padding:22px;
}
.illustration{
    width: 100%;
    border-radius: 10px;
}
.learn{
    background-color: var(--Yellow);
    color: var(--Gray-dark);
    border-radius: 5px;
    width: 80px;
    padding: 7px;
    text-align: center;
    font-weight: 800;
}
.publishDate{
    color: var(--Gray-dark);
    font-weight: 500;
}
.link {
    text-decoration: none;
    color: var(--Gray-dark);
    font-size: larger;
    font-weight: 800;
}
.link:hover{
    color: var(--Yellow);
}
.description{
    color: var(--Gray-light);
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    color:var(--Gray-dark);
    font-weight: 800;
    
}
.author img{
    width: 30px;
    height: 30px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top:10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

